<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="gallery">
        <div class="content">
            <img src="images/img4.jpg" alt="Dress">
            <h3>Dress</h3>
            <p>Georgeous dress outfits</p>
            <h6>ksh.1500.00</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <button class="buy-1">Buy Now</button>
       </div>

       <div class="content">
        <img src="images/img3.jpg" alt="Blouse">
        <h3>Blouse</h3>
        <p>Georgeous dress outfits</p>
        <h6>ksh.700.00</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-2">Buy Now</button>
       </div>

       <div class="content">
          <img src="images/img1.jpg" alt="T-shirt">
          <h3>T-shirt</h3>
          <p>Georgeous dress outfits</p>
          <h6>ksh.1000.00</h6>
          <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">Buy Now</button>
        </div>

    <div class="content">
    <img src="images/img6.jpg" alt="Dera">
    <h3>Dera</h3>
    <p>Georgeous dress outfits</p>
    <h6>ksh.800.00</h6>
    <ul>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
    </ul>
    <button class="buy-4">Buy Now</button>
    </div>
</div>
</body>
</html>
