{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings - About Us</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpeg' %}">

<style>

    
</style>


</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>Our Reviews</h2>
            <p>Of course we utilize our own service to constantly gather feedback from the businesses, online marketers and agencies that use GatherUp. Read what our customers have to say about our customer feedback and online review platform. Please request a demo or sign-up for an account.</p>
            <div class="rating">
              <span class="rating-value">4.2</span>
              <span class="rating-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </span>
              <span class="rating-text">Out of 5 Stars</span>
              <span class="rating-total">Overall rating of 347 1st-party reviews</span>
            </div>
            <div class="rating-distribution">
              <div class="rating-bar">
                <span class="rating-label">5 Stars</span>
                <span class="rating-percentage">230</span>
              </div>
              <div class="rating-bar">
                <span class="rating-label">4 Stars</span>
                <span class="rating-percentage">57</span>
              </div>
              <div class="rating-bar">
                <span class="rating-label">3 Stars</span>
                <span class="rating-percentage">30</span>
              </div>
              <div class="rating-bar">
                <span class="rating-label">2 Stars</span>
                <span class="rating-percentage">7</span>
              </div>
              <div class="rating-bar">
                <span class="rating-label">1 Star</span>
                <span class="rating-percentage">23</span>
              </div>
            </div>
            <button class="btn btn-primary">View Filters</button>
            <button class="btn btn-secondary">Leave Us Feedback</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="review">
              <div class="review-header">
                <div class="review-stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="review-author">
                  <span class="review-name">Nam T.</span>
                  <span class="review-date">April 22, 2019</span>
                </div>
              </div>
              <div class="review-content">
                <p>GatherUp has been the easiest software we have used to reach out to our customers and improve our review features.</p>
              </div>
              <div class="review-response">
                <p><strong>Response:</strong> GatherUp, April 22, 2019</p>
                <p>Tam, Hearing that ease of use is at the top of your list is awesome. Thank you!</p>
              </div>
              <button class="btn btn-link">Read More</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="review">
              <div class="review-header">
                <div class="review-stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="review-author">
                  <span class="review-name">Tommy Bailey</span>
                  <span class="review-date">April 17, 2019</span>
                </div>
              </div>
              <div class="review-content">
                <p>I researched several review platforms and once I met Chris Walker at GatherUp, that pretty much sealed the deal. He answered all of my questions, gave me a ton of helpful suggestions and really just took the time to show me around the platform so that I was comfortable with it. Now that I'm a customer he continues to provide great support. I'd highly recommend anyone give Chris a call if you are consid...</p>
              </div>
              <button class="btn btn-link">Read More</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="review">
              <div class="review-header">
                <div class="review-stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="review-author">
                  <span class="review-name">Gary Paulson</span>
                  <span class="review-date">April 9, 2019</span>
                </div>
              </div>
              <div class="review-content">
                <p>Love all the value that GatherUp provides even before you become a paying customer. Signed up with them when I saw that they could add...</p>
              </div>
              <button class="btn btn-link">Read More</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="review">
              <div class="review-header">
                <div class="review-stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <div class="review-author">
                  <span class="review-name">Tim Colling</span>
                  <span class="review-date">April 6, 2019</span>
                </div>
              </div>
              <div class="review-content">
                <p>...</p>
              </div>
              <button class="btn btn-link">Read More</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
